:root {
  --color-green-200-lighter: hsl(148, 38%, 91%);
  --color-green-600-medium: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey-500-medium: hsl(186, 15%, 59%);
  --color-grey-900-darker: hsl(187, 24%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* - Weights: 400, 700 */
body {
  background-color: var(--color-green-200-lighter);
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;

  position: relative;
}

.container {
  max-width: 73.5rem;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 1.5rem;
  padding: 4rem;
  color: var(--color-grey-900-darker);
  margin: 10rem 2.2rem 10rem 2rem;
  box-shadow: 0px 0px 99px -50px rgba(0, 0, 0, 0.4);
}

.success__message {
  display: none;
  position: fixed;
  top: 5rem;
  min-width: 30rem;
  background-color: var(--color-grey-900-darker);
  padding: 2.5rem;
  border-radius: 1.5rem;
  color: var(--color-white);
  margin: 0 2rem;
  z-index: 999;
}

.show-alert {
  display: block;
  animation: showAlert 0.5s 1 ease;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.success__message p {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.7;
}

.title h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

.title svg {
  fill: var(--color-white);
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.7rem;
  stroke: var(--color-white);
  stroke-width: 1rem;
}

.container p {
  opacity: 0;
  font-size: 1.6rem;
}

.error > p {
  opacity: 1;
  font-size: 1.6rem;
  color: var(--color-red);
}

.error > input,
.error > textarea {
  border: 1px solid var(--color-red) !important;
}

.heading-1 {
  font-size: 3.01rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.contact__form {
  width: 100%;
}

label {
  font-size: 1.6rem;
  font-weight: 400;

  display: block;
  margin-bottom: 1.2rem;
}

.input__names {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  gap: 1.5rem;

  margin-bottom: 2.7rem;
}

.input__name {
  width: 100%;
}

.input__email {
  margin-bottom: 2.7rem;
}

.input__name > input,
.input__email > input {
  width: 100%;
  border: 1px solid var(--color-grey-500-medium);
  border-radius: 0.8rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.input__query-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2.7rem;

  width: 100%;
}

.input__query-error {
  position: absolute;
  bottom: 0;
}

.input__radio {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid var(--color-grey-500-medium);
  border-radius: 0.5rem;
  margin-bottom: 2.7rem;
  cursor: pointer;

  height: 5rem;
  width: 100%;
}

.input__radio:hover,
.radio__checked {
  border: 1px solid var(--color-grey-900-darker);
  background-color: var(--color-green-200-lighter);
}

.input__radio:hover .radio .checkmark {
  border: 2px solid var(--color-green-600-medium);
}

.input__radio > label {
  flex: 1;
}

.input__radio > label,
.input__checkbox > label {
  margin: 0;
}

.input__radio:nth-child(1) {
  margin-right: 1.5rem;
}

.input__message {
  margin-bottom: 3rem;
}

.input__message > textarea {
  width: 100%;
  height: 10rem;
  border: 1px solid var(--color-grey-500-medium);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.input__checkbox {
  margin-bottom: 3rem;
}

.input__checkbox > label {
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  height: 5.5rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-green-600-medium);
  color: var(--color-white);
  font-size: 1.65rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-grey-900-darker);
}

.importantt {
  color: var(--color-green-600-medium);
}

input[type="text"],
input[type="email"],
textarea {
  font-size: 1.75rem;
  padding-left: 2.5rem;
  font-weight: 400;
  color: var(--color-grey-900-darker);
  font-family: inherit;
  word-wrap: break-word;
  word-break: break-all;
}

textarea {
  padding: 1.5rem 2.5rem;
  overflow: hidden;
  resize: none;
}

.input__radio {
  z-index: 1;
}

input:focus,
input:active,
input:hover,
textarea:focus,
textarea:active,
textarea:hover,
.input__radio:hover {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--color-grey-900-darker);
}

.radio {
  display: block;
  position: relative;
  padding-left: 6rem;
  cursor: pointer;
  font-size: 2rem !important;
}

.radio input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  margin-left: 2.6rem;
  border: 2px solid #eee;
  border-radius: 50%;
}

.radio input:checked ~ .checkmark {
  border: 2px solid var(--color-green-600-medium);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .checkmark::after {
  display: block;
}

.radio .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--color-green-600-medium);
}

.check-container {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  cursor: pointer;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  border: 2px solid #eee;
}

.check-container input:hover ~ .check-checkmark {
  background-color: var(--color-green-200-lighter);
  border: 2px solid var(--color-green-200-lighter);
}

.check-container input:checked ~ .check-checkmark {
  border: 2px solid var(--color-green-600-medium);
  background-color: var(--color-green-600-medium);
}

.check-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .check-checkmark::after {
  display: block;
}

.check-container .check-checkmark::after {
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  rotate: 45deg;
  transform: translate(-120%, -25%);
}

@media only screen and (max-width: 42em) {
  .radio {
    padding-left: 4rem;
  }

  .checkmark {
    margin-left: 1rem;
  }

  .input__message > textarea {
    height: 20rem;
  }
}

@media only screen and (max-width: 35em) {
  .input__names {
    flex-direction: column;
  }

  .input__query-type {
    flex-direction: column;
  }

  .input__radio {
    padding-left: 2rem;
  }

  .input__radio:nth-child(1) {
    margin-right: 0;
  }

  .checkmark {
    margin: 0;
  }
}

@media only screen and (max-width: 23.13em) {
  .input__radio > label {
    font-size: 1.8rem !important;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding-left: 1.5rem;
  }
}

@keyframes showAlert {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
