:root {
  --color-green-200-lighter: hsl(148, 38%, 91%);
  --color-green-600-medium: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  --color-white: hsl(0, 0%, 100%);
  --color-grey-500-medium: hsl(186, 15%, 59%);
  --color-grey-900-darker: hsl(187, 24%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* - Weights: 400, 700 */
body {
  background-color: var(--color-green-200-lighter);
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.container {
  max-width: 73.5rem;
  width: 100%;
  height: 77.5rem;
  background-color: var(--color-white);
  border-radius: 1.5rem;
  padding: 4rem;
  color: var(--color-grey-900-darker);
  margin: 10rem 2rem;
}

.heading-1 {
  font-size: 3.01rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.contact__form {
  width: 100%;
}

label {
  font-size: 1.6rem;
  font-weight: 400;

  display: block;
  margin-bottom: 1.2rem;
}

.input__names {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  gap: 1.5rem;
}

.input__name {
  width: 100%;
  margin-bottom: 2.7rem;
}

.input__name > input {
  width: 100%;
  border-radius: 0.5rem;
  height: 5rem;
}
